body {
    position: relative;
}
#Section1 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #337;
}

#Section2 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #5C6369;
}

#Section3 {
    padding-top: 50px;
    height: 1000px;
    color: #fff;
    background-color: #337AB7;
}
.profile_image {
    border-radius: 50%;
    display: block;
    margin: auto;
    padding: 10px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.first {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.second {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.third {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25,25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255));
    position: absolute;
    top: 15px;
    right: -55px;
    z-index: 1032;


}

.form-control {
    margin-bottom: 10px;
    text-align: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111
  }
    
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        margin-bottom: 16px;
        resize: vertical;
      }
      
      input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      
      /* Style the container/contact section */
      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 10px;
      }
      
      /* Create two columns that float next to eachother */
      .column {
        float: left;
        width: 50%;
        padding: 20px;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column, input[type=submit] {
          width: 100%;
          margin-top: 0;
        }

